.containerProjetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 980px;
}

.pItens {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 250px;
    margin: 20px;
    overflow: hidden;
    font: 500 20px 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 6px #000000;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-bottom: #6a08ac 5px solid;
    border-radius: 3px;
}

.pItens .iconDiv {
    color: #6a08ac;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 5px 5px;
    margin-top: 10px;
    text-shadow: none;
    z-index: 10;
}

.pItens .iconDiv i {
    font-size: 30px;
    margin: 5px;
}

.pItens::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(2px) grayscale(80%) brightness(0.2);
    transition: filter 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
}

.pItens.no-filter::before {
    filter: none;
}

.pItens:hover {
    border: white 2px solid;
    color: transparent;
    text-shadow: none;
    border: 2px solid rgb(245, 245, 245);
    transform: scale(1.1);
}

.pItens:hover .iconDiv {
    visibility: hidden;
}

.pItens:hover::before {
    filter: none;
    box-shadow: inset 0 0px 20px #00000086;
}

.pItens:hover .btnItens {
    visibility: visible;
}

.btnDiv {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btnItens {
    color: rgb(201, 201, 201);
    background-color: #6a08ac;
    border-style: none;
    font-size: 16px;
    padding: 3px;
    margin: 5px;
    flex-grow: 1;
    visibility: hidden;
    box-shadow: 0 0 10px #0000007c;
    border: #6b6b6bc2 2px solid;
}

.btnItens:hover {
    background-color: rgb(129, 20, 219);
    color: rgb(255, 255, 255);
}

aside {
    height: 450px;
    width: 300px;
    background-size: cover;

    /* From https://css.glass */
    background-color: rgba(240, 248, 255, 0.021);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.247);
    backdrop-filter: blur(1.7px);
    -webkit-backdrop-filter: blur(1.7px);
    border: 1px solid rgba(206, 206, 206, 0.233);
}